---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { FadeIn } from "@utils/animations/FadeIn";
---

<Layout
    title="Bussiness loan in Tarakeshwar | Online loan in Tarakeshwar | Instant loan in Tarakeshwar"
    description="Get instant bussiness loan in Tarakeshwar at affordable interest rates. Apply now."
>
    <main class="page-content">
        <Hero heroType="center" client:load>
            <FadeIn delay={0.2} client:load>
                <h1>Contact us</h1>
            </FadeIn>
        </Hero>
        <ContactModule client:load />
    </main>
</Layout>
