---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bussiness loan in Tarakeshwar | Online loan in Tarakeshwar | Instant loan in Tarakeshwar" description="Get instant bussiness loan in Tarakeshwar at affordable interest rates. Apply now.">
    <main class="page-content" >
        <Hero
            heroType="textImage"
            client:load
            content={{
                title: `Fast & Easy business loans`,
                paragraph: `No Collateral | Quick Approvals | Low Interest Rates`,
                buttons: [
                    {
                        link: "https://wa.me/917047864270",
                        text: "Whatsapp",
                        variant: "secondary",
                    },
                ],
                image: {
                    srcLocal: "heroImg",
                    alt: "hero section image",
                    width: 300,
                    height: 300,
                },
            }}
        />
    </main>
</Layout>
